<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EU TENTEI</title>
    <style>
        li {
            list-style-type: none
        }
        </style>
</head>

<body>
    <img src = 'static/ania 8bito.png'>
    <h1><a href='https://www.pudim.com.br'>Pudim</a></h1>
    <i><h1>
        Grande
    </h1></i>

    <h3>
        medio
    </h3>

    <p><h5>
        loi
    </h5></p>
</body>
</html>